@import "../../App.scss";

.form__input {
  border-radius: 8px;
  border: 0px;
  padding: 8px;
  margin: 12px 0px;
  font-size: 16px;
  position: relative;
  display: block;
  width: calc(100% - 1rem);
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  border-radius: 4px;

  border-radius: 4px;
  border: 1px solid rgb(187, 187, 187);
  outline-color: $app-background-color;
}

.search {
  border-radius: 8px;
  border: 0px;
  padding: 4px;
  background-color: #ffffff91;
  margin-left: 8px;
  font-size: 14px;
  outline-color: $app-background-color;
}
