@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$app-background-color: #ff8eb9;
$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$body-padding: 20px 100px;
$background-white: #ffffff;

body {
  margin: 0;
  font-family: $open-sans;
  font-weight: normal;
  background: $app-background-color;
  min-height: 100vh;
}

nav {
  padding: $body-padding;
  background-color: #fa629c;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 2px 2px 6px 2px #fa1d72a4;
}

h1 {
  margin: 0;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
}
